In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text
import numpy as np

### set up

In [ ]:
filepath = ''
df = pd.read_csv(filepath, index_col=0)

In [ ]:
df0 = df[df['room_type'] == 'Entire home/apt']
df1 = df[df['room_type'] != 'Entire home/apt']
df0.shape, df1.shape

((25174, 18), (23384, 18))

In [78]:
property0 = df0[['property_id', 'name', 'room_type', 'price','minimum_nights', 'availability_365','available_since_date']].drop_duplicates()
property1 = df1[['property_id', 'name', 'room_type', 'price','minimum_nights', 'availability_365','available_since_date']].drop_duplicates()
host0 = df0[['host_id', 'host_name']].drop_duplicates()
host1 = df1[['host_id', 'host_name']].drop_duplicates()
hostby0 = df0[['property_id','host_id']].drop_duplicates()
hostby1 = df1[['property_id','host_id']].drop_duplicates()
location0 = df0[['location_id', 'neighbourhood_group','neighbourhood', 'latitude', 'longitude']].drop_duplicates()
location1 = df1[['location_id', 'neighbourhood_group','neighbourhood', 'latitude', 'longitude']].drop_duplicates()
locatein0 = df0[['property_id','location_id']].drop_duplicates()
locatein1 = df1[['property_id','location_id']].drop_duplicates()
review0 = df0[['review_id','number_of_reviews', 'last_review','reviews_per_month']].drop_duplicates()
review1 = df1[['review_id','number_of_reviews', 'last_review','reviews_per_month']].drop_duplicates()
reviewas0 = df0[['property_id','review_id']].drop_duplicates()
reviewas1 = df1[['property_id','review_id']].drop_duplicates()

### connect to mysql

In [2]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='123mysql'
)
cursor = connection.cursor()

### create database

In [42]:
#create 2 databases -airbnb0 and airbnb1
new_database_name = 'airbnb1'
cursor.execute(f"CREATE DATABASE {new_database_name}")
engine = create_engine('mysql+pymysql://root:123mysql@localhost/airbnb1')

1

In [58]:
result = engine.execute("SHOW TABLES;")
tables = [row[0] for row in result.fetchall()]
print(tables)

['host', 'hostby', 'locatein', 'property', 'review', 'reviewas']

#### create tables

In [34]:
#for database0
property = pd.read_csv('database0/property.csv')
host = pd.read_csv('database0/host.csv')
hostby = pd.read_csv('database0/hostby.csv')
location = pd.read_csv('database0/location.csv')
locatein = pd.read_csv('database0/locatein.csv')
review = pd.read_csv('database0/review.csv')
reviewas = pd.read_csv('database0/reviewas.csv')

In [45]:
#for database1
property = pd.read_csv('database1/property.csv')
host = pd.read_csv('database1/host.csv')
hostby = pd.read_csv('database1/hostby.csv')
location = pd.read_csv('database1/location.csv')
locatein = pd.read_csv('database1/locatein.csv')
review = pd.read_csv('database1/review.csv')
reviewas = pd.read_csv('database1/reviewas.csv')

--- chanage dataframes, and then run the code below twice (1 for db0 and 1 for db1)

In [46]:
#property
create_table_query = """
CREATE TABLE IF NOT EXISTS property (
    property_id	INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    room_type VARCHAR(50) NOT NULL,
    price INT NOT NULL,
    minimum_nights INT,
    availability_365 INT,
    available_since_date DATE
);
"""
engine.execute(create_table_query)

table_name = 'property'
property.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

23384

In [47]:
#host
create_table_query = """
CREATE TABLE IF NOT EXISTS host (
    host_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL
)
"""
engine.execute(create_table_query)

table_name = 'host'
host.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

17203

In [57]:
#hostby
create_table_query = """
CREATE TABLE IF NOT EXISTS hostby (
    property_id INT,
    host_id INT,
    PRIMARY KEY (property_id, host_id),
    FOREIGN KEY (property_id) REFERENCES property(property_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (host_id) REFERENCES host(host_id) ON DELETE CASCADE ON UPDATE CASCADE
);
"""
engine.execute(create_table_query)

table_name = 'hostby'
hostby.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

23384

In [ ]:
#location
create_table_query = """
CREATE TABLE IF NOT EXISTS location (
    location_id INT PRIMARY KEY,
    neighbourhood_group VARCHAR(50),
    neighbourhood VARCHAR(50),
    latitude FLOAT,
    longitude FLOAT
);
"""
engine.execute(create_table_query)
table_name = 'location'
location.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

25166

In [51]:
#locatein
create_table_query = """
CREATE TABLE IF NOT EXISTS locatein (
    property_id INT PRIMARY KEY,
    location_id INT PRIMARY KEY,
    FOREIGN KEY (property_id) REFERENCES property(property_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (location_id) REFERENCES location(location_id) ON DELETE CASCADE ON UPDATE CASCADE
);
"""
engine.execute(create_table_query)
table_name = 'locatein'
locatein.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

23384

In [52]:
#review
create_table_query = """
CREATE TABLE IF NOT EXISTS review (
    review_id INT PRIMARY KEY,
    number_of_reviews INT,
    last_review VARCHAR(20),
    reviews_per_month FLOAT
);
"""
engine.execute(create_table_query)
table_name = 'review'
review.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

16300

In [55]:
#reviewas
create_table_query = """
CREATE TABLE IF NOT EXISTS reviewas (
    property_id INT PRIMARY KEY,
    review_id INT PRIMARY KEY,
    FOREIGN KEY (property_id) REFERENCES property(property_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (review_id) REFERENCES review(review_id) ON DELETE CASCADE ON UPDATE CASCADE
);
"""
engine.execute(create_table_query)
table_name = 'reviewas'
reviewas.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

23384

### operation on 'property'

In [59]:
property.head()

,property_id,name,room_type,price,minimum_nights,availability_365,available_since_date
0,21988,Clean & quiet apt home by the park,Private room,149,1,365,2019-06-18
1,21191,Riomaggiore Room. Queen Bedroom in Bklyn Townh...,Private room,99,1,153,2019-05-27
2,8995,Torre del Lago Room.,Private room,79,1,174,2019-01-22
3,24545,Cinque Terre Room. Clean and Quiet Queen Bedroom,Private room,149,1,180,2019-06-19
4,19678,"La Spezia room. Clean, quiet and comfortable bed",Shared room,79,1,180,2019-05-19

In [60]:
#insert
def insert_record(record):
    if record['room_type'] == 'Entire home/apt':
            database = 'airbnb0'
    else:
            database = 'airbnb1'

    engine = create_engine(f'mysql+pymysql://root:123mysql@localhost/{database}')
    
    insert_query = f"""
    INSERT INTO property (property_id, name, room_type, price, minimum_nights, availability_365, available_since_date)
    VALUES ({record['property_id']}, '{record['name']}', '{record['room_type']}', {record['price']}, {record['minimum_nights']}, {record['availability_365']}, {record['available_since_date']} )
    """
    engine.execute(insert_query)

In [61]:
#test
record = {
    'property_id': 1,
    'name': 'Example Property',
    'room_type': 'Entire home/apt',
    'price': 100,
    'minimum_nights': 2,
    'availability_365': 300,
    'available_since_date': '2019-05-19'
}
insert_record(record)