In [4]:
import pandas as pd
from sshtunnel import SSHTunnelForwarder
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text

In [5]:
df = pd.read_csv('airbnb_data.csv')
df_0 = df[df['room_type'] == 'Entire home/apt']
df_1 = df[(df['room_type'] == 'Private room')|(df['room_type'] == 'Shared room')]

In [9]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10

In [8]:
# connect SSH
ssh_host = 'ec2-13-52-252-211.us-west-1.compute.amazonaws.com'
ssh_port = 22
ssh_username = 'ubuntu'
ssh_private_key = 'ds551.pem'

# MySQL
mysql_host = 'db0.cjwuw4su0do0.us-west-1.rds.amazonaws.com'
mysql_user = 'Jieyi'
mysql_password = 'ds551proj'
mysql_port = 3306 
mysql_database = 'airbnb0'      #'room_type' == 'Entire home/apt'

tunnel = SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_username,
        ssh_pkey=ssh_private_key,
        remote_bind_address=(mysql_host, mysql_port)
    )
tunnel.start()
print("SSH begins!")

engine = create_engine(f'mysql+pymysql://{mysql_user}:{mysql_password}@localhost:{tunnel.local_bind_port}/{mysql_database}', echo=True)
connection = engine.connect()
print("MySQL connected!")

SSH begins!
2024-02-27 20:19:16,833 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-27 20:19:16,836 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-27 20:19:16,894 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-27 20:19:16,895 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-27 20:19:16,930 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-27 20:19:16,935 INFO sqlalchemy.engine.Engine [raw sql] {}
MySQL connected!

In [10]:
query = "SELECT DISTINCT room_type FROM airbnb_info_0;"
result = connection.execute(text(query))
rows = result.fetchall()
for row in rows:
    print(row)

2024-02-27 20:21:05,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-27 20:21:05,976 INFO sqlalchemy.engine.Engine SELECT DISTINCT room_type FROM airbnb_info_0;
2024-02-27 20:21:05,977 INFO sqlalchemy.engine.Engine [generated in 0.00152s] {}
('Entire home/apt',)

In [11]:
query = "SHOW COLUMNS FROM airbnb_info_0;"
result = connection.execute(text(query))
rows = result.fetchall()
for row in rows:
    print(row)

2024-02-27 20:21:12,047 INFO sqlalchemy.engine.Engine SHOW COLUMNS FROM airbnb_info_0;
2024-02-27 20:21:12,048 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {}
('id', 'bigint', 'YES', '', None, '')
('name', 'text', 'YES', '', None, '')
('host_id', 'bigint', 'YES', '', None, '')
('host_name', 'text', 'YES', '', None, '')
('neighbourhood_group', 'text', 'YES', '', None, '')
('neighbourhood', 'text', 'YES', '', None, '')
('latitude', 'double', 'YES', '', None, '')
('longitude', 'double', 'YES', '', None, '')
('room_type', 'text', 'YES', '', None, '')
('price', 'bigint', 'YES', '', None, '')
('minimum_nights', 'bigint', 'YES', '', None, '')

### Insert new records

In [ ]:
new_record = {
    'id': 999999,
    'name': 'New Listing',
    'host_id': 12345,
    'host_name': 'John',
    'neighbourhood_group': 'Manhattan',
    'neighbourhood': 'Midtown',
    'latitude': 40.753,
    'longitude': -73.985,
    'room_type': 'Entire home/apt',
    'price': 200,
    'minimum_nights': 2
}

insert_statement = """
INSERT INTO airbnb_info_1 (id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights)
VALUES (:id, :name, :host_id, :host_name, :neighbourhood_group, :neighbourhood, :latitude, :longitude, :room_type, :price, :minimum_nights)
"""

result = connection.execute(insert_statement, **new_record)